html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	--bg-color: #fff;
	--fg-color1: #333;
	--fg-color2: #777;
	--ac-link: rgb(0,100,200);
	--ac-1: #edf2fb;
	--ac-2: #d7e3fc;
	--ac-3: #013a63;
}

@media (prefers-color-scheme: dark) {
	body {
		--bg-color: #000;
		--fg-color1: #eee;
		--fg-color2: #999;
		--ac-link: rgb(40,140,240);
		--ac-1: #171819;
		--ac-2: #2b2d32;
		--ac-3: #013a63;
	}
}

body {
	color: var(--fg-color1);
	background-color: var(--bg-color);
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
}

a {
	color: var(--ac-link);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--ac-link);
}
